name: test py

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout icons
        uses: actions/checkout@v3
      - name: Checkout generator
        uses: actions/checkout@v3
        with:
          repository: Perth-Artifactory/ha-icon-generator
          path: generator
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: |
          tree && pwd
      - run: |
          python3 generator/generate.py svg af
      - run: |
          tree && pwd
      - uses: jannekem/run-python-script-action@v1
        with:
          script: |
            import os
            print("Directory contents:")
            for f in os.listdir():
                print(f)