name: test py

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout icons
        uses: actions/checkout@v3
      - name: Checkout generator
        uses: actions/checkout@v3
        with:
          repository: Perth-Artifactory/ha-icon-generator
          path: generator
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: |
          tree && pwd
      - run: |
          python3 generator/generate.py svg af
      - run: |
          rm -rf generator/
      - run: |
          tree && pwd
      - name: Commit changes
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          message: 'Update icon js'
          default_author: github_actions